.error {
    width: max-content;
    padding: 10px;
    border: 2px solid rgba(153, 26, 26, 1);
    border-radius: 5px;
    text-align: center;
    background-color: rgba(153, 26, 26, 0.3);
    color: rgba(153, 26, 26, 1);
}