.header {
    background-color: #222;
    color: #eee;
    padding: 5px 0 5px 100px;
    /* height: 7vh; */
    display: flex;
    align-items: center;
}

.github {
    font-size: 2.5em;
    margin-right: 20px;
}